@media screen and (max-width:575.98px){
   .s-hero {
            /* height: 80vh; */
            position: relative;
            overflow: hidden;
            /* padding-top: 70px; */
        }

      .s-hero  .swiper-slide {
            height: 75vh;
            display: flex;
            align-items: center;
            background: #fff;
            position: relative;
            z-index: 1;
        }
          .s-hero__wrapper h1{
        font-size: 1.75rem !important;
    }
    .slide-1{
      padding-top: 20px !important;
    }
         .slide-2{
      padding-top: 20px !important;
    }
     .s-hero{
      height: max-content;
     }
     .s-hero-contet{
      justify-content: center !important;
      align-content: center !important;
      align-items: center !important;
     }
      
}




@media (max-width: 1199.98px) {
   .s-hero__wrapper h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:752px){
    .man{
      visibility: hidden;
    }
}



@media screen and (max-width:952px){
    
}




@media screen and (max-width:1152px){
    
}



@media screen and (max-width:1252px){
    
}


/* new  */


    #backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 999;
    }

    #backdrop.show {
        opacity: 1;
        pointer-events: auto;
    }

    /* Slide Panel */
    .slide-panel {
        position: fixed;
        top: 17%;
        right: -550px;
        width: 350px;
    height: 450px;
        background: #fff;
        padding: 20px;
        transition: 0.4s ease;
        z-index: 1000;
        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
        /* overflow-y: auto; */
    }

    .slide-panel.open {
        right: 0;
    }

    .enquire-btn {
         position: fixed;
      right: 0px;
      top: 40%;
      z-index: 1050;
      background: rgb(16, 166, 137) !important; /* yellow like screenshot */
      color: #fff;
      border-radius: 8px;
      padding: 10px 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      cursor: pointer;
      transition: transform .18s ease;
      border: none !important;
        transform: rotate(180deg);
      
    }

    .panel-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slide-close {
        background: transparent;
        border: none;
        font-size: 26px;
        cursor: pointer;
    }




.s-hero .slide-1 .hero-student-wrapper .new-joining {
    padding: .75rem 2rem;
    border: 1px solid rgba(1, 0, 147, .2);
    position: absolute;
    width: max-content;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 10;
}