@media screen and (max-width:575.98px){
   .s-hero {
            height: 80vh;
            position: relative;
            overflow: hidden;
            /* padding-top: 70px; */
        }

      .s-hero  .swiper-slide {
            height: 80vh;
            display: flex;
            align-items: center;
            background: #fff;
            position: relative;
            z-index: 1;
        }
          .s-hero__wrapper h1{
        font-size: 1.75rem !important;
    }
      
}




@media (max-width: 1199.98px) {
   .s-hero__wrapper h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:752px){
    
}



@media screen and (max-width:952px){
    
}




@media screen and (max-width:1152px){
    
}



@media screen and (max-width:1252px){
    
}


