@media screen and (max-width:552px){
   .s-hero {
            height: 80vh;
            position: relative;
            overflow: hidden;
            /* padding-top: 70px; */
        }

      .s-hero  .swiper-slide {
            height: 80vh;
            display: flex;
            align-items: center;
            background: #fff;
            position: relative;
            z-index: 1;
        }
        .s-hero__wrapper h1{
          font-size: 1.4rem !important;
        }
}




@media screen and (max-width:752px){
    
}



@media screen and (max-width:952px){
    
}




@media screen and (max-width:1152px){
    
}



@media screen and (max-width:1252px){
    
}


